.nav-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
  gap: 5px;
}

.nav-button {
  border-radius: 20px;
  padding: 10px 20px;
  border: 2px;
  border-style: outset;
  font-size: small;
}

.nav-button:hover {
  background: #ffffff14;
  border-style: inset;
}
