body {
  overflow-x: hidden;
}
#slider-container {
  width: 100%;
  background-color: black;
  margin: 0;
  overflow: hidden;
}
#image-track > img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: 100% 50%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#image-track {
  display: flex;
  gap: 4vmin;
}
