body {
  margin: 0;
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  background: #000;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background: #1e1d1d;
}
